@model donorclub.Models.BankDetailsModel
@using LudoFoundation_app.CommanFunction
@{
    UserInfo userInfo = Common.CurrentUserInfo;

    ViewBag.Title = "addBankDetails";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!--#INCLUDE file="head.asp"-->
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i> Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card tran-bg">
                    <div class="card-header px-4 py-3 border-bottom">
                        <h5 class="mb-0">Bank Details</h5>
                    </div>
                    <div class="card-body p-4">
                        @if (TempData["ProfileAlert"] != null)
                        {
                            <div class="widget-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="error-box">
                                            <div class="alert alert-success">@TempData["ProfileAlert"]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("addBankDetails", "Dashboard", FormMethod.Post, new { role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)
                            <div class="col-md-12">
                                <label for="bsValidation3" class="form-label">Account Number</label>
                                @Html.TextBoxFor(m => m.ac_no, new { @class = "form-control", placeholder = "Account Number", @maxlength = 20, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.ac_no, "", new { @style = "color:red;" })

                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation4" class="form-label">A/C Holder Name</label>
                                @Html.TextBoxFor(m => m.ac_name, new { @class = "form-control", placeholder = "Account Name", @minlength = 3, @maxlength = 30, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.ac_name, "", new { @style = "color:red;" })

                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Bank Name</label>
                                @Html.TextBoxFor(m => m.bk_name, new { @class = "form-control", placeholder = "Bank Name", @minlength = 3, @maxlength = 30, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.bk_name, "", new { @style = "color:red;" })

                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Branch Name</label>
                                @Html.TextBoxFor(m => m.bk_branch, new { @class = "form-control", placeholder = "Branch Name", @maxlength = 30, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.bk_branch, "", new { @style = "color:red;" })
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">IFSC Code</label>
                                @Html.TextBoxFor(m => m.bk_ifsc, new { @class = "form-control", placeholder = "IFSC Code", @maxlength = 20, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.bk_ifsc, "", new { @style = "color:red;" })
                            </div>
                            <br />
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    
                                    <button type="submit"  class="btn btn-light px-4">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->




    </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<!--#INCLUDE file="foot.asp"-->