@model donorclub.Models.UserModel
@using LudoFoundation_app.CommanFunction
@{
    UserInfo userInfo = Common.CurrentUserInfo;

    ViewBag.Title = "editProfile";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!--#INCLUDE file="head.asp"-->
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i> Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card tran-bg">
                    <div class="card-header px-4 py-3 border-bottom">
                        <h5 class="mb-0">Edit Profile</h5>
                    </div>
                    <div class="card-body p-4">

                        @if (TempData["ProfileAlert"] != null)
                        {
                            <div class="widget-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="error-box">
                                            <div class="alert alert-success">@TempData["ProfileAlert"]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("editProfile", "Dashboard", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "send-form-style2 send-form-style" }))
                        {
                            @Html.ValidationSummary(true)
                    <div class="col-md-12">
                        <label for="bsValidation3" class="form-label">Sponser Id</label>
                        @Html.TextBoxFor(m => m.sp_user, new { @class = "form-control", placeholder = "Your Name", @minlength = 3, @maxlength = 30, @style = "color:white;font-size: 15px;" })
                        @Html.ValidationMessageFor(m => m.sp_user, "", new { @style = "color:red;" })
                        <div class="invalid-feedback">
                            Please enter you Sponser Id.
                        </div>
                    </div>
                            @*<div class="col-md-12">
                                <label for="bsValidation4" class="form-label">Sponser Name</label>
                                <input type="email" class="form-control" id="bsValidation4" placeholder="Email" required>
                                <div class="invalid-feedback">
                                    Please enter you Sponser Name.
                                </div>
                            </div>*@
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">User Name</label>
                                @Html.TextBoxFor(m => m.Memb_Name, new { @class = "form-control", placeholder = "Your Name", @minlength = 3, @maxlength = 30, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.Memb_Name, "", new { @style = "color:red;" })
                                <div class="invalid-feedback">
                                    Please enter you User Name.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">User Id</label>
                                @Html.TextBoxFor(m => m.username, new { @class = "form-control", placeholder = "Your Name", @minlength = 3, @maxlength = 30, @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(m => m.username, "", new { @style = "color:red;" })
                                <div class="invalid-feedback">
                                    Please enter you User Id.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Email address</label>
                                @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", @placeholder = "Enter Your User ID", @maxLength = "30", @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(model => model.EMail, "", new { @style = "color:red;" })
                                <div class="invalid-feedback">
                                    Please enter you Email address.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Mobile No</label>
                                @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control", @placeholder = "Enter Your User ID", @maxLength = "30" , @style = "color:white;font-size: 15px;" })
                                @Html.ValidationMessageFor(model => model.Mobile_No, "", new { @style = "color:red;" })
                                <div class="invalid-feedback">
                                    Please enter you Mobile No.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <!--div class="d-md-flex d-grid align-items-center gap-3">-->
                                    @*<button type="reset" class="btn btn-light px-4">Submit</button>*@
                                <!--</div>-->
                                <br />
                                <div class="box-footer">
                                    <button type="submit" class="btn btn-light px-4" value="edit-Password" name="edit">Submit</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->




    </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<!--#INCLUDE file="foot.asp"-->
