@model donorclub.Models.GetHelpModel

@{
    ViewBag.Title = "GetHelp";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!--#INCLUDE file="head.asp"-->
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i> Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Provide Help</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card tran-bg">
                    <div class="card-header px-4 py-3 border-bottom">
                        <h5 class="mb-0">Provide Help</h5>
                    </div>
                    <div class="card-body p-4">
                        @if (TempData["WithdrawalsAlert"] != null)
                        {
                            <div class="widget-list">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="error-box">
                                            <div class="alert alert-success">@TempData["WithdrawalsAlert"]</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        @using (Html.BeginForm("GetHelp", "Dashboard", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" }))
                        {
                            @Html.ValidationSummary(true)

                    <div class="col-md-12">
                        <label for="bsValidation9" class="form-label">Wallete Balance</label>
                        @Html.TextBoxFor(model => model.Total_Balance, new { @class = "form-control", @placeholder = "Wallet Balance", @readonly = true, @style = "color:white;" })


                    </div>


                    <div class="col-md-12">
                        <label for="bsValidation9" class="form-label">Amount</label>
                        @Html.TextBoxFor(model => model.amount, new { @class = "form-control", @placeholder = "Amount", @onkeypress = "return isNumber(event);" })
                        @Html.ValidationMessageFor(model => model.amount)
                    </div>


                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <!-- <button type="submit" class="btn btn-white px-4">Submit</button> -->
                                    @*<button type="reset" class="btn btn-light px-4">Make Provide Help</button>*@
                                    <button type="submit" class="btn btn-light px-4">Login <i class="far fa-sign-in"></i></button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->




    </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<!--#INCLUDE file="foot.asp"-->
