@model donorclub.Models.DashboardModel
@using LudoFoundation_app.CommanFunction;
@{
    UserInfo userinfo = Common.CurrentUserInfo;

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/User_Layout.cshtml";
    string trColor = "";
    string brColor = "";
}

<!--start page wrapper -->
<!--#INCLUDE file="head.asp"-->
<div class="page-wrapper">
    <div class="page-content">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-12">
                    <div class="card mb-4"
                         style="background: url(Content/Dash/assets/images/bg-themes/tbg.png); background-repeat: no-repeat; border-radius: 20px;">
                        <div class="card-body">
                            <div class="">
                                <div class="card-body">
                                    <h6 for="formFile" class="form-label">Welcome</h6>
                                    <h2 for="formFile" class="form-label mb-4">John Doe !</h2>
                                    <div class="form-group">
                                        <label>Referral Link</label>
                                        <div class="input-group mt-3">
                                            <div class="copy-text d-flex ">
                                                <input type="text" class=" form-control text " value="Referrallink.com">
                                                <button><i class="fadeIn animated bx bx-copy"></i></button>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Newslist.Count > 0)
                {
                    <div class="col-md-5 col-12">
                        <div class="card mb-4"
                             style="background: url(Content/Dash/assets/images/bg-themes/bgr.png);background-repeat: no-repeat;background-size:cover;border-radius: 20px;">
                            <div class="card-body">
                                <div class="m-0">
                                    <h2 for="formFileMultiple" class="form-label">News Update</h2>
                                    <div class="iq-card-body" style="padding: 34px 19px;">


                                        <marquee onmouseover="stop()" onmouseout="start()">
                                            @foreach (var item in Model.Newslist)
                                            {
                                                <p style="color: white" ;>@(new HtmlString(item.msg)) <br /></p>
                                            }
                                        </marquee>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                </div>
              
            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4">
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class='bx bxs-user'></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">Status</p>
                                    <h6 class="my-1">In-active</h6>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">DIRECT INCOME</p>
                                    <h6 class="my-1">@Model.Total_Direct_Income</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">LEVEL INCOME</p>
                                    <h6 class="my-1">@Model.Total_Level_Income</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">Total PH</p>
                                    <h6 class="my-1">@Model.Total_Provide</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">Total GH</p>
                                    <h6 class="my-1">@Model.Total_Get</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-group"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">DIRECT ACTIVE TEAM</p>
                                    <h6 class="my-1">@Model.Total_Direct_team</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-group"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">TOTAL ACTIVE TEAM</p>
                                    <h6 class="my-1">@Model.Total_Team</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">REWARD INCOME</p>
                                    <h6 class="my-1">00</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">TOTAL INCOME</p>
                                    <h6 class="my-1">@Model.Total_Earning</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">TOTAL WITHDRAWAL</p>
                                    <h6 class="my-1">@Model.Working_Wallet</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-group"></i></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">TEAM BUSINESS</p>
                                    <h6 class="my-1"></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
                <div class="col">
                    <div class="card shadow-card radius-10">
                        <div class="card-body shadow-card-body">
                            <div class="d-flex align-items-center">
                                <div class="widgets-icons">
                                    <i class="bx bx-donate-blood"></i>
                                </div>
                                <div class="ms-auto" style="text-align: right;">
                                    <p class="mb-0">AVAILABLE BALANCE</p>
                                    <h6 class="my-1">@Model.Total_Balance</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">


                @foreach (var item in Model.orderList)
                {
                    if (item.trans_type == "GET")
                    {
                        <div class="col-md-6 col-sm-12 content">
                            <div class="user-card">
                                <div class="panel panel-default panel-profile">
                                    <div class="panel-heading d-flex align-items-center justify-content-center"
                                         style="height: auto; background-image: url(dist/img/bg-warning.jpg); background-size: cover; background-position: center;">

                                        <h4 style="color: #fff; margin: auto; padding: 5px 15px; background: linear-gradient(45deg, black, transparent); margin: 0;">
                                            <i class="fa fa-envelope-o rotate-y"></i> Request To PH
                                        </h4>

                                    </div>

                                    <div class="panel-body text-center">
                                        <!--  <img class="panel-profile-img mb10" src="dist/img/avater-2.jpg" alt=""> -->
                                        <h3 class="panel-title"><strong></strong></h3>
                                        <p>Participant</p>
                                    </div>
                                    <div class="bottom">

                                        <div class="">
                                            <div class="widget smart-standard-widget">
                                                <div class="row">

                                                    <div class="widget-caption info">
                                                        <div class="col-xs-4 no-pad">
                                                            <i class="icon fa fa-university"></i>
                                                        </div>
                                                        <div class="col-xs-8 no-pad">
                                                            <div class="widget-detail">
                                                                <h4 class="cl-info">PH Amount</h4>
                                                                <span> @item.btcamt</span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="widget-line bg-info">
                                                                <span style="width:48%;"
                                                                      class="bg-info widget-horigental-line"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="widget-caption success">
                                                        <div class="col-xs-4 no-pad">
                                                            <i class="icon fa fa-calendar"></i>
                                                        </div>
                                                        <div class="col-xs-8 no-pad">
                                                            <div class="widget-detail">
                                                                <h4 class="cl-success">Date</h4>
                                                                <span>
                                                                    @if (!string.IsNullOrEmpty(item.trans_date))
                                                                    {
                                                                        <span>
                                                                            @Convert.ToDateTime(item.trans_date).ToString("dd/MM/yyyy")
                                                                        </span>

                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="widget-line bg-info">
                                                                <span style="width:48%;"
                                                                      class="bg-info widget-horigental-line"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="widget-caption warning">
                                                        <div class="col-xs-4 no-pad">
                                                            <i class="icon fa fa-signal"></i>
                                                        </div>
                                                        <div class="col-xs-8 no-pad">
                                                            <div class="widget-detail">
                                                                <h4 class="cl-warning">Status</h4>
                                                                <span>
                                                                    @if (item.flag == "Y")
                                                                    {
                                                                        <span>
                                                                            Completed
                                                                        </span>
                                                                    }
                                                                    else if (item.flag == "N")
                                                                    {
                                                                        <span>
                                                                            Pending
                                                                        </span>
                                                                    }
                                                                    else if (item.flag == "D")
                                                                    {
                                                                        <span>
                                                                            Deleted
                                                                        </span>
                                                                    }
                                                                </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12">
                                                            <div class="widget-line bg-info">
                                                                <span style="width:48%;"
                                                                      class="bg-info widget-horigental-line"></span>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }

            <div class="col-md-6 col-sm-12 content">
                @foreach (var item in Model.orderList)
                {
                    if (item.trans_type == "GET")
                    {
                        <div class="user-card">
                            <div class="panel panel-default panel-profile">
                                <div class="panel-heading"
                                     style="height: auto; background-image: url(dist/img/bg-primary.jpg)">

                                    <h4 style="color: #fff; margin: auto; padding: 5px 15px 5px; background: linear-gradient(45deg, black, transparent)"
                                        ;="">
                                        <i class="fa fa-envelope-o rotate-y"></i> Request To GH
                                    </h4>

                                </div>
                                <div class="panel-body text-center">
                                    <!--  <img class="panel-profile-img mb10" src="dist/img/avater-2.jpg" alt=""> -->
                                    <h3 class="panel-title"><strong></strong></h3>
                                    <p>Participant</p>
                                </div>
                                <div class="bottom">

                                    <div class="">
                                        <div class="widget smart-standard-widget">
                                            <div class="row">

                                                <div class="widget-caption info">
                                                    <div class="col-xs-4 no-pad">
                                                        <i class="icon fa fa-university"></i>
                                                    </div>
                                                    <div class="col-xs-8 no-pad">
                                                        <div class="widget-detail">
                                                            <h4 class="cl-info">GH Amount</h4>
                                                            <span>@item.btcamt</span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="widget-line bg-info">
                                                            <span style="width:48%;"
                                                                  class="bg-info widget-horigental-line"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="widget-caption success">
                                                    <div class="col-xs-4 no-pad">
                                                        <i class="icon fa fa-calendar"></i>
                                                    </div>
                                                    <div class="col-xs-8 no-pad">
                                                        <div class="widget-detail">
                                                            <h4 class="cl-success">Date</h4>
                                                            <span>
                                                                @if (!string.IsNullOrEmpty(item.trans_date))
                                                                {
                                                                    <span>
                                                                        @Convert.ToDateTime(item.trans_date).ToString("dd/MM/yyyy")
                                                                    </span>

                                                                }
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="widget-line bg-info">
                                                            <span style="width:48%;"
                                                                  class="bg-info widget-horigental-line"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="widget-caption warning">
                                                    <div class="col-xs-4 no-pad">
                                                        <i class="icon fa fa-signal"></i>
                                                    </div>
                                                    <div class="col-xs-8 no-pad">
                                                        <div class="widget-detail">
                                                            <h4 class="cl-warning">Status</h4>
                                                            <span>
                                                                @if (item.flag == "Y")
                                                                {
                                                                    <span>
                                                                        Completed
                                                                    </span>
                                                                }
                                                                else if (item.flag == "N")
                                                                {
                                                                    <span>
                                                                        Pending
                                                                    </span>
                                                                }
                                                                else if (item.flag == "D")
                                                                {
                                                                    <span>
                                                                        Deleted
                                                                    </span>
                                                                }
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="widget-line bg-info">
                                                            <span style="width:48%;"
                                                                  class="bg-info widget-horigental-line"></span>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                    </div>
                    
                
                    </div>
                   


            <!--Start  Provide Help -->
            <div class="container mt-4">
                <div class="row">
                    @foreach (var item in Model.transList)
                    {
                        if (item.trans_type == "GET")
                        {
                            trColor = "url(/Content/Dash/dist/img/bg-primary.jpg)";
                            brColor = "url(/Content/Dash/dist/img/bg-primary.jpg)";
                        }
                        else
                        {
                            trColor = "url(/Content/Dash/dist/img/bg-warning.jpg)";
                            //brColor = "ticket-border2";
                        }

                        <!-- ✅ Provide Help -->
                        <div class="col-md-6 col-sm-12 ">
                            <div class="user-card">
                                <div class="panel panel-default panel-profile border rounded shadow">
                                    <div class="panel-heading text-white"
                                         style="background-image: url('dist/img/bg-warning.jpg')">
                                        <h4>Provide Help</h4>
                                    </div>

                                    <div class="bottom">
                                        <ul class="social-detail">
                                            <li>Date :  @Convert.ToDateTime(item.trans_date).ToString("dd/MM/yyyy hh:mm:ss tt")</li>
                                            <li>INR : @item.usdamt</li>
                                            <li>Transaction ID :@item.trans_no</li>
                                        </ul>
                                    </div>

                                    <div class="panel-body p-3" style="margin: -7px;">
                                        <h5 class="mb-2">To : @item.reciever_name</h5>

                                        <div class="d-flex gap-2">
                                            @*<button class="btn btn-light px-4" data-bs-toggle="modal"
                data-bs-target="#viewSlipModal">
            View Slip
        </button>
        <button class="btn btn-light px-4">Upload Slip</button>
        <button class="btn btn-light px-4" data-bs-toggle="modal"
                data-bs-target="#phModal">
            Details
        </button>*@


                                            @if (item.trans_type == "GET")
                                            {
                                                <a onclick="getConfirmPayment(@item.rmemb_code,'@item.order_no',@item.srno)" class="btn-modal" data-toggle="modal" style="color: #fff;">
                                                    <button type="button" class="btn btn-warning mb-5">
                                                        View Details
                                                    </button>
                                                </a>
                                            }
                                            else
                                            {
                                                <a onclick="getMakePayment(@item.rmemb_code,'@item.order_no',@item.srno)" class="btn-modal" data-toggle="modal" d style="color: #fff;">
                                                    <button type="button" class="btn btn-warning mb-5">
                                                        View Details
                                                    </button>
                                                </a>

                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                   




                    <!-- ✅ Get Help -->
                    <div class=" col-md-6 col-sm-12 ">




                        <div class="user-card">
                            @foreach (var item in Model.orderList)
                            {
                                if (item.trans_type == "GET")
                                {
                                    <div class="panel panel-default panel-profile border rounded shadow">
                                        <div class="panel-heading  text-white"
                                             style="background-image: url('dist/img/bg-primary.jpg')">
                                            <h4>Get Help</h4>
                                        </div>

                                        <div class="bottom">
                                            <ul class="social-detail">
                                                <li>
                                                    Date :    <span>
                                                        @if (!string.IsNullOrEmpty(item.trans_date))
                                                        {
                                                            <span>
                                                                @Convert.ToDateTime(item.trans_date).ToString("dd/MM/yyyy")
                                                            </span>

                                                        }
                                                    </span>
                                                </li>
                                                <li>INR : @item.btcamt</li>
                                                <li>Transaction ID : @item.trans_no</li>
                                            </ul>
                                        </div>

                                        <div class="panel-body p-3" style="margin: -7px;">
                                            <h5 class="mb-2">From</h5>

                                            <div class="d-flex gap-2">
                                                <button class="btn btn-light px-4" data-bs-toggle="modal"
                                                        data-bs-target="#viewSlipModal">
                                                    View Slip
                                                </button>
                                                <button class="btn btn-light px-4" onclick="saveaccept()">Confirm</button>
                                                <button class="btn btn-light px-4" onclick="savereject()">Reject</button>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>

                </div>
            </div>


            <!-- ✅ View Slip Modal -->
            <div class="modal fade" id="viewSlipModal" tabindex="-1" aria-labelledby="viewSlipModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title text-white" id="viewSlipModalLabel">Transaction Slip</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <img src="uploadimg/" class="img-fluid" alt="Transaction Slip">
                        </div>
                    </div>
                </div>
            </div>
                        
                    
            <!-- ✅ Provide Help Details Modal -->
            <div class="modal fade" id="phModal" tabindex="-1" aria-labelledby="phModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header ">
                            <h5 class="modal-title text-white" id="phModalLabel">Help Details</h5>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container">
                                <div class="row border-bottom py-2">
                                    <div class="col-6">To User</div>  
                                    <div class="col-6"></div> 
                                </div>     
                                <div class="row border-bottom py-2">
                                    <div class="col-6">Amount</div>
                                    <div class="col-6"></div>  
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">GooglePay No</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">Paytm No</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">PhonePe No</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">UPI ID</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">Account Holder Name</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">Account No</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">Branch Name</div>
                                    <div class="col-6"></div>
                                </div>
                                <div class="row border-bottom py-2">
                                    <div class="col-6">IFSC Code</div>
                                    <div class="col-6"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <!--End  Get Help -->




        </div>
        <div class="overlay toggle-icon"></div>

        <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
        <!--#INCLUDE file="foot.asp"-->

        <script>
    function getOrderDetails(commitNo) {
        $("#loading").css("display", "block");
        $.get('@Url.Action("getOrderDetails", "Dashboard")?commitNo=' + commitNo + '', function (responce) {
            debugger;
            $("#divOrderDetails").html(responce);
            $("#myModalOrderDetails").modal("show");
            $("#loading").css("display", "none");
        });
    }
        </script>

        <script>
    function getMakePayment(rmemb_code, commitNo, hsrno) {
        $("#loading").css("display", "block");
        $.get('@Url.Action("getMakePayment", "Dashboard")?memb_code=' + rmemb_code + '&commitNo=' + commitNo + '&hsrno=' + hsrno + '', function (responce) {
            $(".spnMakePaymentNo").html(hsrno);
            $("#transactionrmemb_Code").val(rmemb_code);
            $("#divMakePayment").html(responce);
            $("#myModalMakePayment").modal("show");
            $("#loading").css("display", "none");
        });
    }
        </script>
        <script>
            function AddTransactionLink() {
                var trans = $(".spnMakePaymentNo").html();
                var rmemb_code = $("#transactionrmemb_Code").val();
                var message = $("#transactionLink").val();
                var transFor = "BTC";
                if (message.trim() == "") {
                    alert("Please Enter Transaction Link.");
                    $("#transactionLink").focus();
                }
                else {
                    var x = confirm("Are you sure want to add hash code for " + transFor + "?");
                    if (x) {
                        window.location.href = "/Dashboard/addTransactionLink?trans=" + trans + "&rmemb_code=" + rmemb_code + "&message=" + message + "&transFor=" + transFor + "";
                    }
                    else {
                        return false;
                    }
                }
            }
        </script>
        <script>
    function getConfirmPayment(rmemb_code, commitNo, hsrno) {
        $("#loading").css("display", "block");
        $.get('@Url.Action("getConfirmPayment", "Dashboard")?memb_code=' + rmemb_code + '&commitNo=' + commitNo + '&hsrno=' + hsrno + '', function (responce) {
            $(".spnConfirmPaymentNo").html(hsrno);
            $("#transactionConfirmrmemb_Code").val(rmemb_code);
            $("#divConfirmPayment").html(responce);
            $("#myModalConfirmPayment").modal("show");
            $("#loading").css("display", "none");
        });
    }


    function AddConfirmPayment() {
        var trans = $(".spnConfirmPaymentNo").html();
        var rmemb_code = $("#transactionConfirmrmemb_Code").val();
        var otp_code = $("#otp_code").val();

        var x = confirm("Are you sure want to Confirm Transaction for " + trans + "?");
        if (x) {
            $("#loading").css("display", "block");
            window.location.href = "/Dashboard/confirmTrans?memb_code=" + rmemb_code + "&trans=" + trans + "&otp_code=" + otp_code + "";
        }
        else {
            return false;
        }
    }
        </script>
        <script>
            function AddFakeHash() {
                var trans = $(".spnConfirmPaymentNo").html();
                var x = confirm("Are you sure want to add fake hash for " + trans + "?");
                if (x) {
                    window.location.href = "/Dashboard/addFakeSlip?trans=" + trans + "";
                }
                else {
                    return false;
                }
            }

            function RejectPayment() {
                var trans = $(".spnConfirmPaymentNo").html();
                var x = confirm("Are you sure want to reject payment for " + trans + "?");
                if (x) {
                    $("#loading").css("display", "block");
                    window.location.href = "/Dashboard/rejectlink?trans=" + trans + "";
                }
                else {
                    return false;
                }
            }
        </script>
        <script>
            function copyFunction(ele, id) {
                // alert(id);
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(ele).select();
                document.execCommand("copy");
                $temp.remove();
                $("#" + id).html('Copied');
            }
        </script>
        <script>
            function copyRefFunction(ele, id) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(ele).select();
                document.execCommand("copy");
                $temp.remove();
                $("#" + id).attr('title', 'Copied');
            }
        </script>


        <script>
    function sendRequestCode(mobileNO) {
        $("#loading").css("display", "block");
        //var mobileNO = $("#Mobile_No").val();
        if (mobileNO == "") {
            alert("Please enter  Mobile No.");
        }
        else {

            $.get('@Url.Action("getRequestCode", "Dashboard")?codeType=GET&mobileno=' + mobileNO + '', function (result) {
                if (result == "1") {
                    $("#btnReq").html("button");
                    $("#btnReq").attr("type", "button");
                    $("#btnReq").attr("onclick", "");
                    //$("#divReqCode").css("display", "none");

                    //setTimeout(function () {
                    //    $("#resendOTP").css("display", "block");
                    //}, 60000);

                    alert("Request code sent successfully.\nPlease Check your Mobile No.");
                }
                else {
                    alert(result);
                }
                $("#loading").css("display", "none");
            });
        }
    }
        </script>


        <script>
            function myFunction() {
                const copyText = document.getElementById("myInput");
                const referralContainer = document.querySelector(".referral-container");

                // Create or get the copy alert element
                let copyAlert = document.getElementById("copyAlert");
                if (!copyAlert) {
                    copyAlert = document.createElement("div");
                    copyAlert.id = "copyAlert";
                    copyAlert.className = "copy-alert";
                    referralContainer.appendChild(copyAlert);
                }

                // Set the message
                copyAlert.textContent = "Copied!";

                // Function to show the alert
                const showAlert = () => {
                    copyAlert.classList.add("show");
                    setTimeout(() => {
                        copyAlert.classList.remove("show"); // Hide after 1.5 seconds
                    }, 1500);
                };

                // For modern browsers that support the Clipboard API
                if (navigator.clipboard) {
                    navigator.clipboard.writeText(copyText.value)
                        .then(() => {
                            showAlert(); // Show alert on success
                        })
                        .catch(err => {
                            console.error("Failed to copy text: ", err);
                            // Fallback to old method if Clipboard API fails
                            fallbackCopyTextToClipboard(copyText, copyAlert);
                        });
                } else {
                    // Fallback for older browsers
                    fallbackCopyTextToClipboard(copyText, copyAlert);
                }
            }

            function fallbackCopyTextToClipboard(copyTextElement, copyAlertElement) {
                copyTextElement.select();
                copyTextElement.setSelectionRange(0, 99999); // For mobile devices

                try {
                    document.execCommand("copy");
                    // Set text and show alert for fallback method
                    copyAlertElement.textContent = "Copied!";
                    copyAlertElement.classList.add("show");
                    setTimeout(() => {
                        copyAlertElement.classList.remove("show"); // Hide after 1.5 seconds
                    }, 1500);
                } catch (err) {
                    console.error("Oops, unable to copy using execCommand: ", err);
                    // Use native alert if all else fails
                    alert("Copying to clipboard failed. Please copy the link manually: " + copyTextElement.value);
                }
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                const profileDropdownToggle = document.getElementById('profileDropdownToggle');
                const profileDropdownMenu = document.getElementById('profileDropdownMenu');
                const dropdownArrow = profileDropdownToggle.querySelector('.dropdown-arrow');

                // Function to toggle the dropdown
                function toggleDropdown() {
                    profileDropdownMenu.classList.toggle('show');
                    if (profileDropdownMenu.classList.contains('show')) {
                        dropdownArrow.style.transform = 'rotate(180deg)'; // Rotate arrow up
                    } else {
                        dropdownArrow.style.transform = 'rotate(0deg)'; // Rotate arrow down
                    }
                }

                // Toggle dropdown on click
                if (profileDropdownToggle) {
                    profileDropdownToggle.addEventListener('click', function (event) {
                        event.stopPropagation(); // Prevent click from immediately closing dropdown
                        toggleDropdown();
                    });
                }

                // Close dropdown when clicking outside
                document.addEventListener('click', function (event) {
                    if (profileDropdownMenu && !profileDropdownMenu.contains(event.target) && event.target !== profileDropdownToggle) {
                        if (profileDropdownMenu.classList.contains('show')) {
                            toggleDropdown(); // Close if open
                        }
                    }
                });

                // Optional: Close dropdown when a menu item is clicked
                const dropdownItems = profileDropdownMenu ? profileDropdownMenu.querySelectorAll('.dropdown-item') : [];
                dropdownItems.forEach(item => {
                    item.addEventListener('click', function () {
                        if (profileDropdownMenu.classList.contains('show')) {
                            toggleDropdown(); // Close after selecting an item
                        }
                    });
                });
            });
        </script>

        <!--------------------------------------------------------------------------------------->
        <script language="javascript">

            function getXMLHTTP() { //fuction to return the xml http object
                var xmlhttp = false;
                try {
                    xmlhttp = new XMLHttpRequest();
                }
                catch (e) {
                    try {
                        xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
                    }
                    catch (e) {
                        try {
                            xmlhttp = new ActiveXObject("Msxml2.XMLHTTP");
                        }
                        catch (e1) {
                            xmlhttp = false;
                        }
                    }
                }

                return xmlhttp;
            }


            function saveaccept(code) {

                var dD = new Date();
                var curr_hour = dD.getHours();
                var curr_min = dD.getMinutes();
                var req = getXMLHTTP();
                var r = confirm("Press a Ok button To Confirm Payment of Transaction Id " + code + ".");


                if (r == true) {

                    if (req) {
                        req.open("GET", 'saveaccept.asp?code=' + code + '&time=' + curr_min, true);
                        req.send(null);

                        req.onreadystatechange = function () {
                            if (req.readyState == 4) {
                                // only if "OK"
                                if (req.status == 200) {
                                    alert(req.responseText);
                                    location.reload();
                                }
                                else {
                                    alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                                }
                            }
                        }

                    }
                }

            }


            function savereject(code) {

                var dD = new Date();
                var curr_hour = dD.getHours();
                var curr_min = dD.getMinutes();
                var req = getXMLHTTP();
                var r = confirm("Press a Ok button To Reject Payment of Transaction Id " + code + ".");


                if (r == true) {

                    if (req) {
                        req.open("GET", 'rejectsave.asp?code=' + code + '&time=' + curr_min, true);
                        req.send(null);

                        req.onreadystatechange = function () {
                            if (req.readyState == 4) {
                                // only if "OK"
                                if (req.status == 200) {
                                    alert(req.responseText);
                                    location.reload();
                                }
                                else {
                                    alert("There was a problem while using XMLHTTP:\n" + req.statusText);
                                }
                            }
                        }

                    }
                }

            }


            </script>

