@using LudoFoundation_app.CommanFunction;
@{
    UserInfo userinfo = Common.CurrentUserInfo;

    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/User_Layout.cshtml";
}

<!--#INCLUDE file="head.asp"-->
<!--start page wrapper -->
<div class="page-wrapper">
    <div class="page-content">
        <!--breadcrumb-->
        <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-5">
            <div class="ps-3">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb mb-0 p-0">
                        <li class="breadcrumb-item">
                            <a href="javascript:;"><i class="bx bx-home-alt"></i> Dashboard</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Profile</li>
                    </ol>
                </nav>
            </div>
        </div>
        <!--end breadcrumb-->

        <div class="row">
            <div class="col-xl-6 mx-auto">
                <div class="card tran-bg">
                    <div class="card-header px-4 py-3 border-bottom">
                        <h5 class="mb-0">Personal Details</h5>
                    </div>
                    <div class="card-body p-4">
                        <form class="row g-3 needs-validation" novalidate>
                            <div class="col-md-12">
                                <label for="bsValidation3" class="form-label">Sponser Id</label>
                                <input type="text" class="form-control" id="bsValidation3"value="@userinfo.sp_ID" placeholder="SponcerId" required>
                                <div class="invalid-feedback">
                                    Please enter you Sponser Id.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation4" class="form-label">Sponser Name</label>
                                <input type="email" class="form-control" id="bsValidation4" value="@userinfo.sp_name"placeholder="Sponsor Nmae" required>
                                <div class="invalid-feedback">
                                    Please enter you Sponser Name.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">User Name</label>
                                <input type="text" class="form-control" id="bsValidation5" value="@userinfo.memb_name" placeholder="Username" required>
                                <div class="invalid-feedback">
                                    Please enter you User Name.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">User Id</label>
                                <input type="text" class="form-control" id="bsValidation5" value="@userinfo.username"placeholder="User Name" required>
                                <div class="invalid-feedback">
                                    Please enter you User Id.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Email address</label>
                                <input type="text" class="form-control" id="bsValidation5"value="@userinfo.EmailID" placeholder="Password" required>
                                <div class="invalid-feedback">
                                    Please enter you Email address.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label for="bsValidation5" class="form-label">Mobile No</label>
                                <input type="text" class="form-control" id="bsValidation5" value="@userinfo.Mobile_No" placeholder="Phone" required>
                                <div class="invalid-feedback">
                                    Please enter you Mobile No.
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="d-md-flex d-grid align-items-center gap-3">
                                    <!-- <button type="submit" class="btn btn-white px-4">Submit</button> -->
                                    <!-- <button type="reset" class="btn btn-light px-4">Reset</button> -->
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->




    </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon"></div>
<!--end overlay-->
<!--Start Back To Top Button--> <a href="javaScript:;" class="back-to-top"><i class='bx bxs-up-arrow-alt'></i></a>
<!--End Back To Top Button-->
<!--#INCLUDE file="foot.asp"-->
