@model donorclub.Models.SignUpModel
@using LudoFoundation_app.CommanFunction
@{
    UserInfo userInfo = Common.CurrentUserInfo;
    ViewBag.Title = "SignUp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area py-120">

    <div class="container">


        <div class="col-md-12 mx-auto">

            <div class="login-form wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".25s">
                <div class="social-login mb-5">
                    <a href="/Home/Index" class="btn-t"> Home</a>
                    <a href="/Home/SignIn" class="btn-t"> Login</a>
                    <!-- <a href="#" class="btn-t"><i class="fab fa-x-twitter"></i> Twitter</a> -->
                </div>
                <div class="login-header">
                    <img src="~/Content/Front/assets/img/logo/logo1.png" alt="">
                    <!-- <h3>Register</h3> -->
                    <p>create your cryptox account</p>
                </div>

                @if (TempData["SignUpAlert"] != null)
                {
                    <div class="error-box">
                        <div class="alert alert-success">@TempData["SignUpAlert"]</div>
                    </div>
                }

                @using (Html.BeginForm("SignUp", "Home", FormMethod.Post, new { role = "form", enctype = "multipart/form-data", @class = "relative border-white/20 py-6 md:w-2/3 md:border-l-[3px] md:pl-9 xl:pb-20" }))
                {
                    @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label>Sponsor Id</label>
                        @*<input type="text" class="form-control" placeholder="Enter Member Name">*@
                        @Html.TextBoxFor(model => model.sp_user, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50", @onchange = "getUserName()" })
                        @Html.ValidationMessageFor(m => m.sp_user, "", new { @style = "color:red;" })
                        <small class="form-text text-white">Select valid sponsor ID</small>
                    </div>

                    <div class="form-group">
                        <label>Sponsor Name</label>
                        <div class="input-group">
                            @*<input type="text" class="form-control" placeholder="Enter Sponsor ID">*@
                            <input class="form-control" id="sponsorName" name="sponsorName" value="@Model.MembName_L" type="text" placeholder="Sponsor Name"
                                   readonly>
                            <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-4">
                            <label>Country</label>
                            <select id="countrySelect" class="form-control">
                                <!-- Country codes populated by JS -->
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>City</label>
                            @Html.TextBoxFor(model => model.City, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.City, "", new { @style = "color:red;" })
                        </div>

                        <div class="form-group col-md-4">
                            <label>State</label>
                            @Html.TextBoxFor(model => model.State, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50" })
                            @Html.ValidationMessageFor(m => m.State, "", new { @style = "color:red;" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Name</label>
                        @Html.TextBoxFor(model => model.Memb_Name, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.Memb_Name, "", new { @style = "color:red;" })
                    </div>

                    <div class="form-group">
                        <label>Phone Number</label>
                        @Html.TextBoxFor(model => model.Mobile_No, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.Mobile_No, "", new { @style = "color:red;" })
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(model => model.EMail, new { @class = "form-control", @placeholder = "Sponsor User ID", @maxlength = "50" })
                        @Html.ValidationMessageFor(m => m.EMail, "", new { @style = "color:red;" })
                    </div>

                    @*<div class="form-group">
                <label>UPI Mobile Number</label>
                <input type="text" class="form-control"
                       placeholder="Enter Google Pay/PhonePe/UPI Mobile Number">
            </div>

            <div class="form-group">
                <label>USDT Wallet Address</label>
                <input type="text" class="form-control" placeholder="Enter USDT Wallet Address">
            </div>*@

                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(model => model.mpwd, new { @class = "form-control", @placeholder = "Password", @maxlength = "25", @onkeypress = "return isPassword(event);" })
                        @Html.ValidationMessageFor(m => m.mpwd, "", new { @style = "color:red;" })
                    </div>

                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(model => model.ConfirmPass, new { @class = "form-control", @placeholder = "Password", @maxlength = "25", @onkeypress = "return isPassword(event);" })
                        @Html.ValidationMessageFor(m => m.ConfirmPass, "", new { @style = "color:red;" })
                    </div>

                    <!-- <div class="form-check form-group">
          <input class="form-check-input" type="checkbox" id="agree">
          <label class="form-check-label" for="agree">
            I agree with the <a href="#">Terms Of Service.</a>
          </label>
        </div> -->

                    <div class="d-flex align-items-center ">
                        <button type="submit" class="theme-btn ">
                            Create Account <i class="far fa-paper-plane"></i>
                        </button>
                        <button type="reset" class="btn btn-danger ms-2">Reset</button>
                    </div>
                }



                <!-- <div class="social-login">
        <a href="#" class="btn-f"><i class="fab fa-facebook-f"></i> Facebook</a>
        <a href="#" class="btn-g"><i class="fab fa-google"></i> Google</a>
        <a href="#" class="btn-t"><i class="fab fa-x-twitter"></i> Twitter</a>
    </div> -->


            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.7.0.min.js"></script>




<script>
    $('#mpwd').bind("cut copy paste", function (e) {
        e.preventDefault();
    });

    $('#ConfirmPass').bind("cut copy paste", function (e) {
        e.preventDefault();
    });

    $('#username').bind("cut copy paste", function (e) {
        e.preventDefault();
    });
</script>
<script>
    $("#chkSponser").click(function () {
            if (this.checked == true) {
                $.get('@Url.Action("getFirstUser", "Home")', function (responce) {
                    $("#sp_user").val(responce.Memb_Name);
                    $("#sponsorName").val(responce.sp_user);
                    $("#sp-invalid").css("display", "none");
                });
            }
            else {
                $("#sponsorName").val('');
                $("#sp_user").val('');
            }
        });

        function getUserName() {
            var sp_user = $("#sp_user").val();
            if (sp_user != "") {
                $.get('@Url.Action("getFirstUser", "Home")?sp_user=' + sp_user + '', function (responce) {
                    if (responce.sp_user == "") {
                        $("#sp-invalid").css("display", "block");
                    }
                    else {
                        $("#sp-invalid").css("display", "none");
                        $("#sp_user").val(responce.Memb_Name);
                        $("#sponsorName").val(responce.sp_user);
                    }
                });
            }
            else {
                $("#sp-invalid").css("display", "none");
                $("#sponsorName").val('');
                $("#sp_user").val('');
            }
        }
</script>

