@model donorclub.Models.SignInModel
@using LudoFoundation_app.CommanFunction
    UserInfo userInfo = Common.CurrentUserInfo;
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="login-area py-120 mt-5">
    <div class="container">
        <div class="col-md-5 mx-auto">
            <div class="login-form wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                 data-wow-delay=".25s">
                <div class="login-header">
                    <img src="~/Content/Front/assets/img/logo/logo1.png" alt="">

                    <!-- <h3>Login</h3> -->
                    <p>login with your Helping Hand account</p>
                </div>
                @if (TempData["LoginAlert"] != null)
                {
                    <div class="error-box">
                        <div class="alert alert-danger">@TempData["LoginAlert"]</div>
                    </div>
                }
                @using (Html.BeginForm("SignIn", "Home", FormMethod.Post, new { @class = "", @id = "log-form" }))
                {
                    <div class="form-group">
                        <label>User Name</label>
                        @*<input type="email" class="form-control" placeholder="User Name">*@
                        @Html.TextBoxFor(model => model.username, new { @class = "form-control", @placeholder = "Your User ID", @maxLength = "30" })
                        @Html.ValidationMessageFor(model => model.username, "", new { @style = "color:red;" })
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @*<input type="password" class="form-control" placeholder="Your Password">*@

                        @Html.PasswordFor(model => model.mpwd, new { @class = "form-control", @placeholder = "Your Password", @maxLength = "20" })
                        @Html.ValidationMessageFor(model => model.mpwd, "", new { @style = "color:red;" })
                    </div>
                    <!-- <div class="d-flex justify-content-between mb-4">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="remember">
                            <label class="form-check-label" for="remember">
                                Remember Me
                            </label>
                        </div>
                        <a href="forgot-password.html" class="forgot-pass">Forgot Password?</a>
                    </div> -->
                    <div class="d-flex align-items-center">
                        <button type="submit" class="theme-btn">Login <i class="far fa-sign-in"></i></button>
                    </div>
                }

                <!-- <div class="other-login-signup my-4">
                    <div class="or-login-signup text-center">
                        <strong>Or Login With</strong>
                    </div>
                </div> -->
                <div class="social-login my-4">
                    <a href="/Home/SignUp" class="btn-t"> Register</a>
                    <a href="/Home/SignIn" class="btn-t">Home </a>
                    <a href="/Home/ForgotPassword" class="btn-t"> Password?</a>
                </div>

                <!-- <div class="login-footer">
                    <p>Don't have an account? <a href="register.html">Register.</a></p>
                </div> -->
            </div>
        </div>
    </div>
</div>

